@import 'normalize';
@import 'simple-grid';

$yellow : #F8A21C;
$purple : #443D51;

.prototype-header {
  background: orange;
  border-bottom: 1px solid #D08600;
  text-align: center;
  padding: 0.25em;
  p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }
}

img.logo {
  margin-top: 3em;
  width: 100%;
  max-width: 500px;
}

h1, h2, h3, h4 {
  color: $purple;
  font-family: Avenir;
}

.bulb-step {
  outline: 5px solid $purple;
  position: relative;
  padding-top: 2em;
  img.bulb {
    position: absolute;
    top: -1.5em;
    height: 4em;
    width: 100%;
  }
  .bulb-number {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: $purple;
    font-weight: 600;
    z-index: 2;
    position: absolute;
    top: -1em;
  }
  .step-description {
    padding: 0.5em;
    margin-top: 0;
  }
  h3 {
    margin-top: 0;
  }
}

