@import 'normalize';
@import 'simple-grid';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$yellow :       #F8A21C;
$purple :       #443D51;

$salmon :       #D5827C;


$lh-1-purple:   #766C8A;
$lh-2-dusk:     #9F6A7C;
$lh-3-sunrise:  #CD6A62;
$lh-4-warm-sun: #EA7C41;
$lh-5-orange:   #FB8E00;

$green:         #339933;
$white:         #FFFFFF;

.prototype-header {
  background: orange;
  border-bottom: 1px solid #D08600;
  text-align: center;
  padding: 0.25em;
  p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }
}

img.logo {
  margin-top: 3em;
  width: 100%;
  max-width: 500px;
  margin-left: -49px;
}

h1, h3, h4 {
  color: $purple;
  font-family: Avenir;
}

header {
  h1 {
    @media only screen and (min-width: $breakpoint-large) {
      font-size: 72px;
      line-height: 1.2;
    }
  }

}

.colophon {
  p {
    font-size: 14px;
    max-width: 160px;
  }
}

h2 {
  color: $salmon;
  font-family: Avenir;
  max-width: 600px;
  @media only screen and (min-width: $breakpoint-large) {
    font-size: 36px;
    line-height: 1.4;
  }

}

p {
  @media only screen and (min-width: $breakpoint-large) {
    font-size: 24px;
  }
}

.bulb-step {
  @include border-radius(0.5em);
  background: #EEEEEE;
  position: relative;
  padding-top: 3em;
  img.bulb {
    position: absolute;
    top: -1.5em;
    height: 4em;
    width: 100%;
  }
  .bulb-number {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: $purple;
    font-weight: 600;
    font-size: 1.5em;
    z-index: 2;
    position: absolute;
    top: -1em;
  }
  .step-description {
    padding: 0.5em;
    margin-top: 0;
  }
  h3 {
    margin-top: 0;
    font-size: 1.3em;
  }
}

.call-to-action {
  a {
    background: $green;
    padding: 1.5em 2em;
    color: $white;
    font-weight: 400;
    @include border-radius(0.5em);
    text-decoration: none;
  }
  a:hover {
    background: darken($green, 10);
  }
  padding-top: 3em;
  padding-bottom: 3em;
}

