---
title: Light House
---

<div class="container">
  <div class="row">
    <div class="col-8">
      <%= image_tag "light-house-logo.svg", class: "logo" %>
      <h1>Bringing your tenants lower electricity bills, forever</h1>

      <p>For £1 a week your tenants can get the latest energy efficient LED bulbs, saving them money off their energy bills. Forever.</p>

      <p>Switching these old bulbs for LEDs will also reduce the environmental impact of your housing stock.</p>

      <p>Do you have tenants you think would benefit? All you need to do is refer them.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>How it works</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3 bulb-step">
      <p class="bulb-number">1</p>
      <div class="step-description">
        <h3>Refer your tenants</h3>
        <p>You refer tenants that want to receive new LED bulbs.</p>
      </div>
    </div>
    <div class="col-3 bulb-step">
      <p class="bulb-number">2</p>
      <div class="step-description">
        <h3>They sign up</h3>
        <p>They sign up for £1 a week and receive the latest energy efficient LED bulbs, typically worth £300 - £500 including fitting.</p>
      </div>
    </div>
    <div class="col-3 bulb-step">
      <p class="bulb-number">3</p>
      <div class="step-description">
        <h3>Lifetime guarantee</h3>
        <p>After 5 years we’ll refresh their bulbs with the latest technology. If a bulb ever needs replacing, we’ll send them a new one in the post – free of charge.</p>
      </div>
    </div>
    <div class="col-3 bulb-step">
      <p class="bulb-number">4</p>
      <div class="step-description">
        <h3>They reduce their electricity bills forever</h3>
        <p>LED bulbs use up to 15 times less electricity than traditional ones. This means a typical household will use around 15% less electricity – FOREVER!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Light House is made possible by raising funds through a [Community Energy Group], a social enterprise that develops, funds, builds, owns and operates renewable energy schemes in [an area].</p>
    </div>
  </div>
</div>
